@page "/"
@rendermode InteractiveServer
@using Calendari.Components.Pages
<h3>Calendar2</h3>

<Calendar SelectDate="@SelectDate" OnSelectDateChanged="HandleSelectDateChange" />
<h1>Выбранная дата: @SelectDate.ToString("dd/MM/yyyy")</h1>
@code {
    DateTime SelectDate;

    private void HandleSelectDateChange(DateTime newDate)
    {
        SelectDate = newDate;
    }
}
